.success-modal {
    height: 100%;
    width: 100%;
    background-color: rgba(88, 87, 87, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    color: #48494D;
    font-family: 'droid-sans', 'Arial', sans-serif;
    visibility: hidden;
}


.success-modal.success-modal--active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}

.success-modal__callback {
    position: relative;
    background-color: $base-while;
    width: 740px;
    box-shadow: 0px 5px 6px rgba(63, 63, 63, 0.2);
    border-radius: 4px;
    padding-bottom: 20px;
}

.success-modal__title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.8px;
    line-height: 15px;
    margin-left: 50px;
    padding-top: 12px;
}

.success-modal__content {
    display: flex;
    width: 478px;
    margin: 0 auto;
    padding-left: 6px;
    padding-top: 23px;
    padding-bottom: 33px;
    justify-content: space-between;
    align-items: center;
}

.success-modal__btn {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 12px 16px;
    border-radius: 2px;
    text-decoration: none;
}

.success-modal__btn--basket {
    background-color: $button-base-2;
    color: $base-while;
    border: none;
    padding: 13px 26px;

    &:hover,
    &:focus {
        outline: none;
        background-color: $button-base-2-hover;
    }

    &:active {
        background-color: $button-base-2-active;
    }
}

.success-modal__btn--main {
    border: 1px solid $input-color;
    color: $input-color;

    &:hover,
    &:focus {
        outline: none;
        opacity: 0.7;
    }

    &:active {
        border: 1px solid $input-color-active;
        opacity: 0.5;
    }
}

.success-modal__close {
    position: absolute;
    right: 13px;
    top: 16px;
    border: none;
    background-color: #fff;
    width: 30px;
    height: 30px;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 16px;
        height: 1px;
        background-color: #9F9E9E;
        transform: rotate(45deg);
        top: 14px;
        left: 8px;
    }

    &::after {
        transform: rotate(-45deg);
    }

    &:hover,
    &:focus {
        outline: none;
        border: 1px solid $footer-bg;
    }

    &:active {
        opacity: 0.5;
        border: 1px solid $checkbox-disable;
    }
}